:root {
    --pink: rgb(182, 44, 116);
    --lpink: rgb(208, 125, 168);
    --magenta: rgb(186, 51, 163);
    --lmagenta: rgb(228, 150, 215);
    --purple: rgb(121, 38, 147);
    --lpurple: rgb(207, 152, 224);
    --indigo: rgb(102, 51, 185);
    --lindigo: rgb(168, 136, 219);

    --radius: 10px;
    --radius2: 250px;

    /* So I don't need to manually change everything that uses the non-Gill Sans font */
    --altFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Basic selectors (hold default vals) */
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

body {
    background-color: rgb(22, 22, 22);
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

h1 {
    font-size: 65px;
    z-index: 1;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

h4 {
    font-size: 23px;
}

img {
    width: 50%;
    border-radius: var(--radius);
}

p {
    font-size: 15px;
    margin: 15px;
    opacity: 1.0;
    font-family: var(--altFont);
}

i {
    font-family: var(--altFont);
}

.event, .corner {
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: var(--radius);
}

.event {
    opacity: 0.90;
    margin: 50px;
    padding: 10px;
    overflow: hidden;
    z-index: 2;
    text-align: center;
}

.corner {
    opacity: 0.25;
    z-index: 0;
}

.cornerText {
    position: absolute;
}

/* Info boxes */
#titles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: rgb(34, 34, 34);
    border: 5px double rgb(99, 99, 99);
    border-radius: var(--radius);
}

/*
#firstName-lastName = rectangle w/ info
#corner-firstInitial = corresponding corner
#colour = used for headings/titles
#colour2 = used for body text 
*/

#maria-carolina-cambre, #corner-m {
    background-color: rgb(58, 8, 34);
    border: 5px double var(--pink);
    top: 0;
    left: 0;
}

#corner-m {
    border-bottom-right-radius: var(--radius2);
}

.pink {
    color: var(--lpink);
}

.pink2 {
    color: var(--pink);
}

#isabel-machado, #corner-i {
    background-color: rgb(63, 10, 54);
    border: 5px double var(--magenta);
    top: 0;
    right: 0;
}

#corner-i {
    border-bottom-left-radius: var(--radius2);
}

.magenta {
    color: var(--lmagenta);
}

.magenta2 {
    color: var(--magenta);
}

#daniel-wildberger, #corner-d {
    background-color: rgb(37, 5, 46);
    border: 5px double var(--purple);
    bottom: 0;
    left: 0;
}

#corner-d {
    border-top-right-radius: var(--radius2);
}

.purple {
    color: var(--lpurple);
}

.purple2 {
    color: var(--purple);
}

#shima-rezaei-rashnoodi, #corner-s {
    background-color: rgb(23, 8, 47);
    border: 5px double var(--indigo);
    bottom: 0;
    right: 0;
}

#corner-s {
    border-top-left-radius: var(--radius2);
}

.indigo {
    color: var(--lindigo);
}

.indigo2 {
    color: var(--indigo);
}

/*Testing the threshold/cursor zones (25% of the width/30% of the height of each box, which is 40% of the doc's width/height)*/
.zone {
    position: absolute;
    margin: 50px;
    /*Approximate offset from the document to the info boxes' margins*/
    width: 10%;
    height: 12%;
    background-color: green;
    z-index: 3;
}